{
    "rules": {
        "indent": [
            "warn",
            "tab"
        ],
        "quotes": [
            "warn",
            "single"
        ]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    }
}